mixin navItem(path, label, className)
    li.nav-item
        a.nav-link(class=className href=path)= label

nav.navbar.navbar-expand-lg.bg-body-tertiary
    div.container-fluid
        div.collapse.navbar-collapse#navbarNav
            div.navbar-brand
                    a(href="/") 
                        i Yeeeet
            ul.navbar-nav
                if isConnected
                    if isAdmin
                        +navItem("/admin", "Admin", "text-warning")
                    +navItem("/", "Accueil")
                    +navItem("/logout", "Déconnexion", "text-danger")
                else
                    +navItem("/login", "Connexion", "text-secondary")
                    +navItem("/register", "Inscription", "text-secondary")