extends layout/layout

block content
    div.card
        h1.card-title.p-4 Connexion
        div.card-body
            form(action="/login" method="post")
                div.mb-3
                    label.form-check-label(for="name") Identifiant
                    input.form-control(type="text" name="name" id="name" required)
                div.mb-3
                    label.form-check-label(for="password") Mot de passe
                    input.form-control(type="password" name="password" id="password" required)
                div.mb-3
                    button.btn.btn-primary.btn-block(type="submit") Se connecter