extends layout/layout

block content
    div.card
        h1.card-title.p-4 Inscription
        div.card-body
            form(action="/register" method="post")
                div.mb-3
                    label.form-check-label(for="firstName") Prénom
                    input.form-control(type="text" name="firstName" id="firstName" required)
                div.mb-3
                    label.form-check-label(for="lastName") Nom
                    input.form-control(type="text" name="lastName" id="lastName" required)
                div.mb-3
                    label.form-check-label(for="email") Email
                    input.form-control(type="email" name="email" id="email" required)
                div.mb-3
                    label.form-check-label(for="password") Mot de passe
                    input.form-control(type="password" name="password" id="password" required)
                div.mb-3
                    label.form-check-label(for="passwordConfirmation") Confirmation du mot de passe 
                    input.form-control(type="password" name="passwordConfirmation" id="passwordConfirmation" required)
                div.mb-3
                    button.btn.btn-primary.btn-block(type="submit") S'inscrire