doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
        title=title || "Yeeeeet"
    body.container
        header
            include ../partials/_nav
        main.container-fluid
            if message
              div.alert(class=message.type === "error" ? "alert-danger":"alert-success")= message.message
            block content
        footer.footer